[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
sqlfmt = {path = ".", editable = true}

click = ">=7.1.2"

[dev-packages]
black = "*"
flake8 = "*"
isort = "*"
mypy = "*"
pre-commit = "*"
pytest = ">=5.2"
pytest-cov = ">=2.0"

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = true
