[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"

[tool.poetry]
name = "shandy-sqlfmt"
version = "0.1.0-alpha.8"
description = "sqlfmt is an opinionated CLI tool that formats your sql files"
readme = "README.md"
authors = ["Ted Conbeer <ted@shandy.io>"]
license = "Apache-2.0"
homepage = "http://sqlfmt.com"
repository = "https://github.com/tconbeer/sqlfmt"
classifiers = [
    "Development Status :: 3 - Alpha",
    "Operating System :: MacOS :: MacOS X",
    "Operating System :: Microsoft :: Windows",
    "Operating System :: POSIX :: Linux",
    "Programming Language :: SQL",
    "Topic :: Software Development :: Quality Assurance",
    "Typing :: Typed",
]
packages = [
    { include = "sqlfmt", from = "src" }
]

[tool.poetry.dependencies]
python = "^3.7"
click = "^8.0"
importlib_metadata = { version = "*", python = "<3.8" }


[tool.poetry.dev-dependencies]
black = "^21.9b0"
flake8 = "^4.0.1"
isort = "^5.9.3"
mypy = "^0.910"
pre-commit = "^2.15.0"
pytest = "^6.2.5"
pytest-cov = "^3.0.0"

[tool.poetry.scripts]
sqlfmt = "sqlfmt.cli:sqlfmt"

[tool.black]
line-length = 88
target-version = ["py38"]

[tool.isort]
multi_line_output = 3
include_trailing_comma = true
force_grid_wrap = 0
use_parentheses = true
ensure_newline_before_comments = true
line_length = 88
src_paths = ["src/sqlfmt", "tests"]
