[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"

[tool.poetry]
name = "shandy-sqlfmt"
version = "0.19.1"
description = "sqlfmt is an opinionated CLI tool that formats your sql files"
readme = "README.md"
authors = ["Ted Conbeer <ted@shandy.io>"]
license = "Apache-2.0"
homepage = "https://sqlfmt.com"
repository = "https://github.com/tconbeer/sqlfmt"
documentation = "https://docs.sqlfmt.com"
classifiers = [
    "Development Status :: 3 - Alpha",
    "Operating System :: MacOS :: MacOS X",
    "Operating System :: Microsoft :: Windows",
    "Operating System :: POSIX :: Linux",
    "Programming Language :: SQL",
    "Topic :: Software Development :: Quality Assurance",
    "Typing :: Typed",
]
packages = [
    { include = "sqlfmt", from = "src" },
]

[tool.poetry.extras]
jinjafmt = ["black"]
sqlfmt_primer = ["gitpython"]

[tool.poetry.dependencies]
python = "^3.7"
click = "^8.0"
tqdm = "^4.0"
platformdirs = ">=2.4,<4.0"
"backports.cached_property" = { version = "^1.0.2", python = "<3.8" }
importlib_metadata = { version = "*", python = "<3.8" }
tomli = { version = "^2.0.1", python = "<3.11" }

black = { version = "*", optional = true }

gitpython = { version = "^3.1.24", optional = true }

[tool.poetry.group.dev.dependencies]
pre-commit = "^2.20.0"
snakeviz = "^2.1.1"

[tool.poetry.group.static.dependencies]
flake8 = "^5.0.4"
isort = "^5.9.3"
mypy = ">=0.990,<1.5"

[tool.poetry.group.test.dependencies]
pytest = "^7.2.0"
pytest-cov = "^4.0.0"

[tool.poetry.scripts]
sqlfmt = "sqlfmt.cli:sqlfmt"
sqlfmt_primer = { callable = "sqlfmt_primer.primer:sqlfmt_primer", extras = ["sqlfmt_primer"] }

[tool.black]
line-length = 88
target-version = ["py38"]

[tool.isort]
multi_line_output = 3
include_trailing_comma = true
force_grid_wrap = 0
use_parentheses = true
ensure_newline_before_comments = true
line_length = 88
src_paths = ["src/sqlfmt", "tests"]
