name: Create a New Release

on:
  workflow_dispatch:
    inputs:
      newVersion:
        description: A version number for this release (e.g., "0.1.0")
        required: true

jobs:
  # test-and-lint:
  #   uses: tconbeer/sqlfmt/.github/workflows/test.yml@main
  
  prepare-release:
    runs-on: ubuntu-latest

    steps:
      - name: Check out Repo
        uses: actions/checkout@v2
        with:
          persist-credentials: false
      - name: Set up Python 3.9
        uses: actions/setup-python@v2
        with:
          python-version: "3.9"
      - name: Install Poetry
        uses: snok/install-poetry@v1
        with:
          version: latest
      - name: Create release branch
        run: git checkout -b release/v${{ github.event.inputs.newVersion }}
      - name: Bump version
        run: poetry version ${{ github.event.inputs.newVersion }} --no-interaction
      - name: Ensure package can be built
        run: poetry build --no-interaction
      - name: Update CHANGELOG
        uses: thomaseizinger/keep-a-changelog-new-release@v1
        with:
          version: ${{ github.event.inputs.newVersion }}
      - name: Commit Changes
        uses: stefanzweifel/git-auto-commit-action@v4
        with:
          commit_message: Bumps version to ${{ github.event.inputs.newVersion }}
          tagging_message: v${{ github.event.inputs.newVersion }}
      - name: Create pull request into main
        uses: thomaseizinger/create-pull-request@1.0.0
        with:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          head: release/v${{ github.event.inputs.newVersion }}
          base: main
          title: v${{ github.event.inputs.versionName }}
          body: |
              This PR was automatically generated. It bumps the version number
              in pyproject.toml and updates CHANGELOG.md

